

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.App{
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(90deg, rgba(19,101,255,1) 0%, rgba(30,206,255,0.5) 44%, rgba(126,0,255,0.5) 100%), url('./assets/cyberpunk-background-9.jpg');
  display: flex;
  justify-content: center;
  align-items: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
